body{

    font-family: 'Lato', sans-serif;

}
.content{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.03) 100%), url('../images/Banner\ Image.png');
  max-width: 1120px;
    height: 500px;
    background-size: contain;
    background-position: center;
    margin:auto ;
    margin-top: 50px;
padding-top: 350px;
border-radius: 20px;

}
.title{
    text-align: center;
    color: #FFF;
    font-size: 30px;
   
   line-height: 1.6px;
 
    

}
.title-text{
    text-align: center;
    color: #FFF;
    font-size: 70px;
    width: 600px;
    padding-left: 320px;
  
   
 
}

.title-description{
    text-align: center;
    line-height: 1.6px;
    margin-top: 200px;

}
.title-description2{
    font-size: 100px;
    color: #FF0000;
    line-height: 50px 40px;
    padding-bottom: 50px;
 
 
    
}

.title-description3{
    font-size: 20px;
    color: #FF0000;
   


}
.title-description4{
    font-size: 40px;
   padding-top: 0px;
   color: #070211;

}
.title-description-4{

    margin: auto;
}
.description{
     max-width:800px;
    height: 500px;
 
    margin-left:220px;
    margin-top: 30px;
}
.title-text-title{
    max-width: 1600px;
    /* height: 4000px; */
    background: #FFF;

}
.description-pic{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.046) 100%), url('../images/Vectorrr.png');
     max-width: 1120px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    background-size: contain;
    background-position: center;
   
    
}
.description0{
    float: right;
    margin-top: 60px;
    margin-right: 70px;
 

}
.description1{
    color: #FFF;
    font-size: 60px;
    width: 500px;
    height: 100px;
    margin-left: 100px;
    padding-top: 200px;
  
  
}
.description2{
    color: #FFF;
    font-size: 12px;
    width: 500px;
    height: 30px;
    color: rgba(255, 255, 255, 0.80);
    margin-left: 100px;
}
.description3{
    color: #FFF;
    border: rgba(0, 0, 255, 0) solid;
    background: #070211;
    width: 100px;
    height: 30px;
    margin-left: 100px;
}
.maecenas{

    text-align: left;


}
.primary1{
    background:linear-gradient(180deg,rgb(234, 187, 187)0%,rgba(255,0,0,0)100%);
    
    background-size: contain;
    background-position: center;
    text-align: center;
    font-size: 32px;
   width: 1120px;
   height: 500px;
   margin: auto;
   margin-top: 120px;
   padding-top: 80px;
   line-height: 25px;

  
   
}
.button{
    color: #F00;
}
.prymary11{
    border: #FF0000 solid;
    background: #F00 ;
    border-radius: 8px;
    width: 140px;
    height: 50px;
    color: #FFF;
    font-size: 20px;
    margin-top: 40px;
   
}


.development{
    display: flex;
    justify-content: space-between;
     width:1120px;
    height: 460px;
    margin: auto;
    margin-top: 100px;
    line-height: 15px;

}
.developer1{
    border-radius: 600px;
    border: 15px solid #F00;
    align-items: center;
    margin-top: 10px;
    margin-right: 80px;
    margin-left: 100px;
    width: 370px;
    height: 370px;
    padding-top: 32px;
    padding-left: 35px;
    padding-right: 5px   ;
    padding-bottom: 5px;
  
}
.door2{
    text-align: left;
    width: 500px;
    height: 200px;

}
.time4{
    color: rgba(7, 2, 17, 0.564);
    font-size: 13px;
   weight: 200px;
    height: 100px;
   
}

.time7{
    color: rgba(7, 2, 17, 0.564);
    font-size: 13px;
    padding-right:30px;
}
.time8{
    width: 100px;
    height: 100px;
  margin-right: 40px;
}
.developer{

   width: 340px;
  height:340px ;
  margin-right: 220px;
  padding-right: 100px;

}
.time2{
    color: #F00;
    font-size: 23px;
    padding-top:60px ;
}
.time6{
    font-size: 45px;
    color: #F00;
    padding-top:60px ;
    padding-right: 30px;
 
}
.time3{
    color: black;
    font-size: 45px;
    width: 300px;
  
}

.main{
  
    text-align: center;
  max-width: 1120px;
    height: 900px;
    margin: auto;
    margin-top: 40px;
    padding-top: 50px;
    line-height: 25px;

    
    
}
span{
    color: #F00;
}
.main12{
    font-size: 20px;
    color: #070211;
}
.main13{
    font-size: 70px;
}
.main14{
    font-size: 16px;
    width: 500px;
    height: 90px;
    padding-left: 280px;
    color: rgba(7, 2, 17, 0.60);
    
    
}
.hallo1{
   
    width: 500px;
    height: 400px;
 
    
    
    
}

.hallo4{
    background-image: url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
   
    height: 460px;
  

  
}
.hallo3{
  
    width: 300px;
    height:300px ;
 padding-top: 100px;
  padding-right: 280px;
  padding-left: 20px;
   
    

}
.hallo{
    background-image: url('../images/Rectangle\ 2.png');
    border-radius: 16px 0px 16px 16px;
    background-position: center;
background-size: contain;
    width: 1120px;
height: 700px;
margin: auto;
margin-top: 180px;
    background-repeat: no-repeat;
   
}

.google{
    line-height: 20px;
    display: flex;
    


}
.world{
    max-width: 1120px;
    height: 1000px;
 
    margin: auto;
    text-align: left;
    line-height: 20px;
    padding-top: 40px;
}

.world1{
    color: #F00;
    font-size: 20px;
}
.world2{
    color: #070211;
    font-size: 40px
    ;
}
.world3{
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    width: 600px;
    height: 60px;
}
.world-title1{
    padding-top: 20px;
}

.world-title{
    width: 370px;
    height: 370px;
}

.world-title2{
    color: rgba(7, 2, 17, 0.60);
}
.red-title{
    max-width: 1120px;
    height: 600px;
    margin: auto;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-top: 30px;
text-align: center;
padding-top: 40px;


}

.roll{
    width: 1600px;
    height: 600px;
    background-color: black;
    margin-top: 80px;
   display: flex;
   
}
.section1{
    color: #FFF;
}


.section3{
    color: #FFF;
    margin-top: 400px;
    padding-left: 50px;

}
.section2{
    color: #FFF;
    font-size:16px ;
    width: 300px;
    margin-top: 80px;
    padding-left: 50px;
    
}
.section4{
    color: #FFF;
 padding-top: 20px;
    padding-left: 200px;
   

}
.section5{
    color: #FFF;
  
    padding-left: 250px;
}



.section6{
    color: #FFF;
    margin-top: 450px;
    margin-left: 350px;
}
.like-me1{
    margin-top: 250px;
   padding-left: 30px;
  
}
.room{
    width: 15px;
    padding-right: 3px;
}
