body{

    font-family: 'Lato', sans-serif;

}
.content{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.03) 100%), url('../images/Banner\ Image.png');
  max-width: 1120px;
    height: 500px;
    background-size: contain;
    background-position: center;
    margin:auto ;
    margin-top: 50px;
padding-top: 350px;
border-radius: 20px;

}
.title{
    text-align: center;
    color: #FFF;
    font-size: 30px;
   
   line-height: 1.6px;
 
    

}
.title-text{
    text-align: center;
    color: #FFF;
    font-size: 70px;
    width: 600px;
    padding-left: 320px;
  
   
 
}
/* main style */
.title-description{
    text-align: center;
    line-height: 1.6px;
    margin-top: 200px;

}
.title-description2{
    font-size: 100px;
    color: #FF0000;
    line-height: 50px 40px;
    padding-bottom: 50px;
 
 
    
}

.title-description3{
    font-size: 20px;
    color: #FF0000;
   


}
.title-description4{
    font-size: 40px;
   padding-top: 0px;
   color: #070211;

}
.title-description-4{

    margin: auto;
}
.description{
     max-width:800px;
    height: 500px;
 
    margin-left:220px;
    margin-top: 30px;
}
.title-text-title{
    max-width: 1600px;
    height: 3000px;
    background: #FFF;

}
.description-pic{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.046) 100%), url('../images/Vectorrr.png');
     max-width: 1120px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    background-size: contain;
    background-position: center;
   
    
}
.description0{
    float: right;
    margin-top: 60px;
    margin-right: 70px;
 

}
.description1{
    color: #FFF;
    font-size: 60px;
    width: 500px;
    height: 100px;
    margin-left: 100px;
    padding-top: 200px;
  
  
}
.description2{
    color: #FFF;
    font-size: 12px;
    width: 500px;
    height: 30px;
    color: rgba(255, 255, 255, 0.80);
    margin-left: 100px;
}
.description3{
    color: #FFF;
    border: rgba(0, 0, 255, 0) solid;
    background: #070211;
    width: 100px;
    height: 30px;
    margin-left: 100px;
}
.maecenas{

    text-align: left;


}
.primary1{
    background:linear-gradient(180deg,rgb(234, 187, 187)0%,rgba(255,0,0,0)100%);
    
    background-size: contain;
    background-position: center;
    text-align: center;
    font-size: 32px;
   width: 1120px;
   height: 500px;
   margin: auto;
   margin-top: 120px;
   padding-top: 80px;
   line-height: 25px;

  
   
}
.button{
    color: #F00;
}
.prymary11{
    border: #FF0000 solid;
    background: #F00 ;
    border-radius: 8px;
    width: 140px;
    height: 50px;
    color: #FFF;
    font-size: 20px;
    margin-top: 40px;
   
}


.development{
    display: flex;
    justify-content: space-between;
     width:1120px;
    height: 460px;
    margin: auto;
    margin-top: 100px;
    line-height: 15px;

}
.developer1{
    border-radius: 600px;
    border: 15px solid #F00;
    align-items: center;
    margin-top: 10px;
    margin-right: 80px;
    margin-left: 100px;
    width: 370px;
    height: 370px;
    padding-top: 32px;
    padding-left: 35px;
    padding-right: 5px   ;
    padding-bottom: 5px;
  
}
.door2{
    text-align: left;
    width: 500px;
    height: 200px;

}
.time4{
    color: rgba(7, 2, 17, 0.564);
    font-size: 13px;
   weight: 200px;
    height: 100px;
   
}

.time7{
    color: rgba(7, 2, 17, 0.564);
    font-size: 13px;
    padding-right:30px;
}
.time8{
    width: 100px;
    height: 100px;
  margin-right: 40px;
}
.developer{

   width: 340px;
  height:340px ;
  margin-right: 220px;
  padding-right: 100px;

}
.time2{
    color: #F00;
    font-size: 23px;
    padding-top:60px ;
}
.time6{
    font-size: 45px;
    color: #F00;
    padding-top:60px ;
    padding-right: 30px;
 
}
.time3{
    color: black;
    font-size: 45px;
    width: 300px;
  
}
/* .door{
padding-right: 70px;
} */
